*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(97, 183, 212);
}
header{
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid white;
}
main{
    height: 88.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main .prediction-box{
    border: 2px solid white;
    padding:30px;
    width: 350px;
    text-align: center;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
}
.result-box{
    height: 200px;
    border: 3px solid white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.result-box p {
    font-size: 19px;
    color: #eee;
}
button{
    padding: 13px;
    border: none;
    border-radius: 10px;
    font-size: 1vw;
    font-weight: bolder;
    color: #2980b9;
    cursor: pointer;
    transition: all ease 0.3s;
}
button:active{
    scale: 0.95;
    background-color: #2980b9;
    color: white;
}