*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone{
    width: 350px;
    height: 550px;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.488);
    border-radius: 20px;
    overflow-x: hidden;
    transition: all ease 0.5s;
}

.phone .frame{
    width: 100%;
    height: 100%;
}
.phone h1{
    padding: 10px 20px;
}



.allstatus{
    width: 100%;
    height: calc(100% - 62px);
    overflow-y: auto;
}

.allstatus::-webkit-scrollbar{
    display: none;
}

.status{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 10px;
    padding: 13px 20px;
    border-bottom: 2px solid rgba(145, 145, 145, 0.589);
    position: relative;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
}

.status img{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    object-fit: cover;
    padding: 2px;
    border: 2px solid green;
}

.detail h2{
    font-size: 18px;
    font-weight: 500;
}

.detail h4{
    font-size: 13px;
    font-weight: 400;
    color: rgb(55, 55, 55);
}


.underStatus{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: none;
}

.underStatus .status{
    position: absolute;
}

.underStatus .status .detail h2{
    color: white;
}

.underStatus .status .detail h4{
    color: white;
}
.underStatus .status img{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    object-fit: cover;
    padding: 0px;
    border: 2px solid rgb(255, 255, 255);
}

.underStatus img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.line{
    transition: all ease 0.2s;
    width: 100%;
    height: 2px;
    background-color: rgb(45, 45, 45);
}

.line .loading{
    transition: all ease 0.2s;
    height: 100%;
    width: 0%;
    background-color: rgb(214, 214, 214);
}